# Dependencies
node_modules/

# Build output
dist/
client/dist/
server/public/

# System files
.DS_Store

# Vite
vite.config.ts

# Env files
.env

# Archives
*.tar.gz

# Deployment folders
.vercel/
.replit/
